<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beno.reclamator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
        <activity
            android:name=".ProblemsActivity"
            android:label="@string/title_activity_problems" >
        </activity>
        <activity
            android:name=".EntriesActivity"
            android:label="@string/title_activity_entries" >
        </activity>
        <activity
            android:name=".EntryDescActivity"
            android:label="@string/title_activity_entry_desc" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".RegisterCompanyActivity"
            android:label="@string/title_activity_register_company" >
        </activity>
        <activity
            android:name=".RegisteredCompaniesActivity"
            android:label="@string/title_activity_registered_companies" >
        </activity>
        <activity
            android:name=".CompanyDescActivity"
            android:label="@string/title_activity_company_desc" >
        </activity>
    </application>

</manifest>
